@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
background-color: #ededed;
}
*{
    padding: 0%;
    margin: 0%;
}
nav{
    background-color: #f37072;
    padding: 5px;

}
section.banner1{
padding-top: 20PX;
}
nav.navegacion ul{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
nav.navegacion li a{
    text-decoration: none;
    color: #ededed;
    font-size: 1.5rem;
}

main section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
main section div.card{
    background-color: rgb(152, 218, 179);
    box-shadow: 10px 10px 10px 10px rgb(134, 162, 143);
    width: 25%;
    height: fit-content;
    text-align: center;
    padding-bottom: 1rem;
    margin: 1rem;
    border-radius: 10px;
}
.card-text{
    padding-top: 10px;
}
div.card img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 50%;
}

div.card h4,h3, div.card p{
    margin: .5rem;
    font-family: 'Montserrat', sans-serif;
}

div.card button{
    width: 75%;
    padding: .5rem 1rem;
    background-image: linear-gradient(to right, #ffa163, #f3686a);
    font-size: 18PX;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}